.flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.border {
    /* border:2px solid rgb(230, 26, 26); */
}
